<div class="sidebar" id="sidebar">
  <div class="sidebar-shortcuts" id="sidebar-shortcuts">
    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
      <button class="btn btn-success">
        <i class="icon-signal"></i>
      </button>

      <button class="btn btn-info">
        <i class="icon-pencil"></i>
      </button>

      <button class="btn btn-warning">
        <i class="icon-group"></i>
      </button>

      <button class="btn btn-danger">
        <i class="icon-cogs"></i>
      </button>
    </div>

    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
      <span class="btn btn-success"></span>

      <span class="btn btn-info"></span>

      <span class="btn btn-warning"></span>

      <span class="btn btn-danger"></span>
    </div>
  </div><!-- #sidebar-shortcuts -->

  <ul class="nav nav-list">
    <li ui-sref-active="active">
      <a ui-sref="dashboard">
        <i class="icon-dashboard"></i>
        <span class="menu-text"> 控制台 </span>
      </a>
    </li>

    <li>
      <a href="#" class="dropdown-toggle">
        <i class="icon-list"></i>
        <span class="menu-text"> 订单管理 </span>

        <b class="arrow icon-angle-down"></b>
      </a>

      <ul class="submenu">
        <li ui-sref-active="active">
          <a ui-sref="grab.order">
            <i class="icon-double-angle-right"></i>
            新订单
          </a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="grab.success">
            <i class="icon-double-angle-right"></i>
            待支付
          </a>
        </li>
        <li ui-sref-active="active">
          <a href="#">
            <i class="icon-double-angle-right"></i>
            待出票
          </a>
        </li>
        <li ui-sref-active="active">
          <a href="#">
            <i class="icon-double-angle-right"></i>
            已完成
          </a>
        </li>
        <li ui-sref-active="active">
          <a href="#">
            <i class="icon-double-angle-right"></i>
            配送管理
          </a>
        </li>
      </ul>
    </li>

  </ul><!-- /.nav-list -->

  <div class="sidebar-collapse" id="sidebar-collapse">
    <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
  </div>
</div>
