.td-center {
  text-align: center !important;
  vertical-align: middle !important;
}

.no-bottom-border {
  border-bottom: none!important;
}

.no-top-border {
  border-top: none!important;
}

.overflow-icon-middle {
  top: 50%!important;
}
