.td-center {
  text-align: center !important;
  vertical-align: middle !important;
}

.no-bottom-border {
  border-bottom: none!important;
}

.no-top-border {
  border-top: none!important;
}

.overflow-icon-middle {
  top: 50%!important;
}

.auto-height {
  height: 100%!important;
}

.login-bg {
  height: 100%;
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
