<div class="page-header">
  <h1>
    订单
    <small>
      <i class="icon-double-angle-right"></i>
      待支付订单
    </small>
  </h1>
</div>
<div class="row">
  <div class="col-xs-12 widget-container-span ui-sortable">
    <div class="widget-box">
      <div class="widget-header">
        <h5>待支付订单列表</h5>

        <div class="widget-toolbar">
          <a href="#" data-action="settings">
            <i class="icon-cog"></i>
          </a>

          <a ng-click="reload()" href>
            <i class="icon-refresh"></i>
          </a>

          <a href="#" data-action="collapse">
            <i class="icon-chevron-up"></i>
          </a>
        </div>
      </div>

      <div class="widget-body">
        <div class="widget-body-inner">
          <div class="widget-main no-padding">
            <div class="tab-content">
              <div class="panel-group accordion-style1 accordion-style2">
                <div class="panel panel-default" ng-repeat="order in vm.orderList | orderBy:'create_time'">
                  <div class="panel-heading">
                    <a ng-click="order.$collapsed = !order.$collapsed" ng-class="{collapsed: !order.$collapsed}" class="accordion-toggle" href>
                      <span class="pull-left">
                        <i class="icon-bookmark-empty bigger-130"></i>
                        订单号: <strong>{{order.order_num}}</strong>
                      </span>
                      <span class="col-md-offset-2">下单时间: {{order.create_time}}</span>
                      <span class="col-md-offset-3">联系方式: {{order.account}}</span>
                      <i class="pull-right" ng-class="{true: 'icon-chevron-right', false: 'icon-chevron-down'}[!order.$collapsed]"></i>
                    </a>
                  </div>

                  <div class="panel-collapse collapse panel-success" ng-class="{in: order.$collapsed}">

                    <div class="panel-body">
                      <table id="sample-table-2" class="table table-striped">
                        <thead>
                        <tr>
                          <th class="center">航空公司</th>
                          <th class="hidden-480 center">
                            <i class="icon-time bigger-110 hidden-480"></i>
                            出发城市(时间)
                          </th>
                          <th class="center">
                            <i class="icon-time bigger-110 hidden-480"></i>
                            到达城市(时间)
                          </th>
                          <th class="center">机票价格</th>
                          <th class="center">燃油费</th>
                          <th class="center">机建费</th>
                          <th class="center">乘客姓名</th>
                          <th class="center">证件号码</th>
                        </tr>
                        </thead>

                        <tbody>
                          <tr ng-repeat="flight in order.flight">

                          <td class="td-center">
                            <p>{{flight.dcity}}航空{{flight.flight_num}}</p>
                          </td>
                          <td class="hidden-480 td-center">
                            <p><strong>{{flight.dtime | date:'HH:mm'}}</strong></p>
                            <p>{{flight.dcity}}</p>
                          </td>
                          <td class="td-center">
                            <p><strong>{{flight.atime | date:'HH:mm'}}</strong></p>
                            <p>{{flight.acity}}</p>
                          </td>
                          <td class="td-center">
                            ￥{{flight.flight_price}}  ×{{order.passenger_amount}} 人
                          </td>
                          <td class="td-center">
                            ￥{{flight.oilfee}}
                          </td>
                          <td class="td-center">
                            ￥{{flight.adulttax}}
                          </td>
                          <td class="hidden-480 td-center">
                            {{flight.passenger}}
                          </td>
                            <td class="td-center">
                              <strong>{{flight.card_id}}</strong>
                            </td>
                        </tr>
                        </tbody>
                      </table>
                      <div class="text-danger pull-right">
                        总金额: <strong>￥{{order.total_price}}</strong>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="vm.showOverlay" class="widget-box-overlay td-center">
        <i class="icon-spinner overflow-icon-middle icon-spin icon-3x white"></i>
      </div>
    </div>
  </div>
</div>
