<div class="page-header">
    <h1>
        订单
        <small>
            <i class="icon-double-angle-right"></i>
            待出票订单
        </small>
    </h1>
</div>
<div class="row">
    <div class="col-xs-12 widget-container-span ui-sortable">
        <div class="widget-box">
            <div class="widget-header">
                <h5>最新订单列表</h5>

                <div class="widget-toolbar">
                    <a href="#" data-action="settings">
                        <i class="icon-cog"></i>
                    </a>

                    <a ng-click="reload()" href>
                        <i class="icon-refresh"></i>
                    </a>

                    <a href="#" data-action="collapse">
                        <i class="icon-chevron-up"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-body-inner">
                    <div class="widget-main">
                        <div class="table-responsive">
                            <div class="dataTables_wrapper" role="grid">
                                <div class="row no-padding-top no-padding-bottom">
                                    <div class="col-sm-6 col-lg-6">
                                        <div class="dataTables_length">
                                            <label>每页 <select>
                                                <option value="10" selected="selected">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select> 条数据</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6">
                                        <div class="dataTables_filter">
                                            <label>搜索:
                                                <input type="text" placeholder="请输入关键字">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th class="center">创建时间</th>
                                        <th class="center">订单编号</th>
                                        <th class="center">航班信息</th>
                                        <th class="center">票面价格</th>
                                        <th class="center">实际价格</th>
                                        <th class="center">航班意外险</th>
                                        <th class="center">航班延误险</th>
                                        <th class="center">乘客姓名</th>
                                        <th class="center">证件类型</th>
                                        <th class="center">证件号码</th>
                                        <th class="center">联系电话</th>
                                        <th class="center">总金额</th>
                                        <th class="center">订单状态</th>
                                        <th class="center">操 作</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr ng-repeat="order in vm.orderPaySuccessList | filter: {ticket_status: 1} ：{snatch_status:1} | orderBy:'-create_time'">
                                        <td class="td-center">
                                            <a href="#">{{order.create_time | date:'HH:mm'}}</a>
                                        </td>
                                        <td class="td-center">
                                            {{order.order_num}}
                                        </td>
                                        <td class="td-center">
                                            <p>{{order.flight[0].dtime | date: 'yyyy-mm-dd hh:mm'}}</p>
                                            <p>航班：{{order.flight[0].flight_num}}</p>
                                        </td>
                                        <td class="td-center">
                                            ￥{{order.flight[0].origin_price}}
                                        </td>
                                        <td class="td-center">
                                            ￥{{order.flight[0].flight_price}}
                                        </td>
                                        <td class="td-center">
                                            ￥{{order.flight[0].acci_insu}}
                                        </td>
                                        <td class="td-center">
                                            ￥{{order.flight[0].delay_insu}}
                                        </td>
                                        <td class="td-center">
                                            {{order.flight[0].passenger}}
                                        </td>
                                        <td class="td-center">
                                            {{order.flight[0].id_type}}
                                        </td>
                                        <td class="td-center">
                                            {{order.flight[0].card_id}}
                                        </td>
                                        <td class="td-center">
                                            {{order.phone}}
                                        </td>
                                        <td class="td-center">
                                            <strong>￥{{order.total_price}}</strong>
                                        </td>
                                        <td class="hidden-480 td-center">
                                            <span class="label label-sm label-success arrowed arrowed-right">{{order.ticket_status | ticketStatus}}</span>
                                        </td>
                                        <td class="td-center">
                                            <button class="btn btn-sm btn-info" ng-click="grabSuccessOrder(order.order_num)">
                                                <i class="icon-legal bigger-110"></i>
                                                <span class="bigger-110 no-text-shadow">出 票</span>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="row no-padding-top no-padding-bottom no-top-border no-bottom-border">
                                    <div class="col-sm-6">
                                        <div class="dataTables_info" id="sample-table-2_info">显示 1 到 10 总共 23条数据</div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="dataTables_paginate paging_bootstrap">
                                            <ul class="pagination">
                                                <li class="prev disabled"><a href="#"><i class="icon-double-angle-left"></i></a></li>
                                                <li class="active"><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li class="next"><a href="#"><i class="icon-double-angle-right"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="vm.showOverlay" class="widget-box-overlay td-center">
                <i class="icon-spinner overflow-icon-middle icon-spin icon-3x white"></i>
            </div>
        </div>
    </div>
</div>
