<div class="row">
  <div class="col-xs-12">
    <!-- PAGE CONTENT BEGINS -->

    <div class="error-container">
      <div class="well">
        <h1 class="grey lighter smaller">
											<span class="blue bigger-125">
												<i class="icon-sitemap"></i>
												404
											</span>
          亲！木有找到该页面
        </h1>

        <hr />
        <h3 class="lighter smaller">我们找了好久好久.....</h3>

        <div>
          <form class="form-search">
												<span class="input-icon align-middle">
													<i class="icon-search"></i>

													<input type="text" class="search-query" placeholder="关键字" />
												</span>
            <button class="btn btn-sm" onclick="return false;">搜索</button>
          </form>

          <div class="space"></div>
          <h4 class="smaller">你可以:</h4>

          <ul class="list-unstyled spaced inline bigger-110 margin-15">
            <li>
              <i class="icon-hand-right blue"></i>
              返回到主页面
            </li>

            <li>
              <i class="icon-hand-right blue"></i>
              检查url地址
            </li>

            <li>
              <i class="icon-hand-right blue"></i>
              联系程序员 691209942@qq.com 狠狠的骂他.....
            </li>
          </ul>
        </div>

        <hr />
        <div class="space"></div>

        <div class="center">
          <a ui-sref="grab.order" class="btn btn-grey">
            <i class="icon-arrow-left"></i>
            返回
          </a>

          <a ui-sref="dashboard" class="btn btn-primary">
            <i class="icon-dashboard"></i>
            主页
          </a>
        </div>
      </div>
    </div><!-- PAGE CONTENT ENDS -->
  </div><!-- /.col -->
</div><!-- /.row -->
